@model RoadDataViewModel

@{
    ViewData["Title"] = "Details";
}

<partial name="_headerRoadData" model="@Model.TripId"/>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
              <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalKM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalKM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsExport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsExport)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingLocation)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationLocation)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckBase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TruckBase)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TruckContainer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TruckContainer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-primary">Edit </a>
</div>