@model TripViewModel

@{
    ViewData["Title"] = "Details";
}

<partial name="_header"/>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
              <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TripDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TripDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalKM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalKM)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-primary">Edit </a>
</div>