@using ObiMenagement.Core.Models
@model TripViewModel

@{
    ViewData["Title"] = "Edit";
}

<partial name="_header" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_form" model=@Model />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Delete" asp-route-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#confirm-delete" class="btn btn-danger delete">Delete </a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Item
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-delete-histoy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Item
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="list-header"></div>
<div class="row ">
    <div class="col-md-11">
        <h3 class="d-inline">Roads  </h3>
    </div>
    <div class="col-md-1">
        <a asp-action="CreateRoadData" asp-route-tripId="@Model.Id" class="btn btn-primary">Add </a>
    </div>
</div>
<hr />
<div class="list-header"></div>

<div class="row">
    <div class="col-md-12">
        <table id="roadData" class="table display">
            <thead>
                <tr>
                    <th>
                        Truck
                    </th>
                    <th>
                        Trailer
                    </th>
                    <th>
                        StartingDate
                    </th>
                    <th>
                        TotalKm
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        IsExport
                    </th>
                    <th class="no-sort">Actions</th>
                </tr>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


<script>
    $(function () {

                  $("#TripDate").datepicker({
                                             changeMonth: true,
                                             changeYear: true,
                                             showButtonPanel: true,
                                             dateFormat: '@DateConstants.FormatUI'

                                              });

         var table = $("#roadData").DataTable({
                ajax: {
                    url: "@Url.Action("LoadRoadData","Trip",new { tripId=Model.Id})",
                    dataSrc: 'items'
                },
                "columns": [
                    { "data": "truckBase" },
                    { "data": "truckContainer" },
                    { "data": "startingDate" },
                    { "data": "totalKM" },
                    { "data": "price" },
                    { "data": "isExport" },
                    { "data": "id" }
                ],
                "columnDefs":
                    [
                        { targets: 'no-sort', orderable: false },
                        {
                            targets: 6, render: function (data) {
                                    return " " +
                                    '<button  type="button" data-id="' + data + '"  class="btn btn-success detailRoad">Details</button>'+
                                      "&nbsp; &nbsp;" +
                                    '<button  type="button" data-id="' + data + '"  class="btn btn-success editRoad">Edit</button>'+
                                      "&nbsp; &nbsp;" +
                                    +'<button  type="button" data-site-id="' + data + '"  class="btn btn-danger removeRoad" >Remove</button>'

                            }
                        }
                    ]
            });

            $("#roadData").on("click",".detailRoad", function (event) {
                var url = "@Url.Action("DetailsRoadData", "Trip")" + "?id=" + $(this).attr("data-id");
                window.location.href = url;
            });
             $("#roadData").on("click",".editRoad", function (event) {
                var url = "@Url.Action("EditRoadData", "Trip")" + "?id=" + $(this).attr("data-id");
                window.location.href = url;
            });
            $("#roadData").on("click",".removeRoad", function (event) {
                var url = "@Url.Action("DeleteRoadData", "Trip")" + "?id=" + $(this).attr("data-id");
                 $("#confirm-delete-histoy modal-body").empty().html(" Are you sure you want to delete this item ?");
                $("#confirm-delete-histoy").find('.btn-ok').attr('href', url);
                $("#confirm-delete-histoy").modal('show');

            });

        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(".modal-body").empty().html(" Are you sure you want to delete this item ?");
            var url= $(e.relatedTarget).attr('href');
            $(this).find('.btn-ok').attr('href',url);
        });
           $("#confirm-delete-histoy .btn-ok").on("click", function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                $.ajax
                    ({
                        type: "POST",
                        url: url,
                        success: function (data) {
                            console.log(data);
                            if (data.isSuccessful) {
                                window.location.reload();
                            }
                            else {
                                $("#confirm-delete-histoy .modal-body").empty().html(data.errorMessage);
                            }
                        }
                    });
                return false;
            });
        $(".btn-ok").on("click", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.ajax
                ({
                    type: "POST",
                    url: url,
                    success: function (data) {
                        console.log(data);
                        if (data.isSuccessful) {
                             window.location.href='@Url.Action("Index")';
                        }
                        else {
                            $(".modal-body").empty().html(data.errorMessage);
                        }
                    }
                });
            return false;
        });


             $('#EmployeeId').select2({
                            placeholder: 'Select an option',
                            ajax: {
                                url: '@Url.Action("GetEmployees", "Json")',
                                data: function (params) {
                                    var query = {
                                        search: params.term,
                                        page: params.page || 1
                                    }
                                    return query;
                                },
                                processResults: function (data) {
                                    return {
                                        results: data.items
                                    };
                                }
                            }
                       });

              $('#TruckBaseId').select2({
                                         placeholder: 'Select an option',
                                         ajax: {
                                             url: '@Url.Action("GetTruckBases", "Json")',
                                             data: function (params) {
                                                 var query = {
                                                     search: params.term,
                                                     page: params.page || 1
                                                 }
                                                 return query;
                                             },
                                             processResults: function (data) {
                                                 return {
                                                     results: data.items
                                                 };
                                             }
                                         }
                                    });
               $('#TruckContainerId').select2({
                                          placeholder: 'Select an option',
                                          ajax: {
                                              url: '@Url.Action("GetTruckContainers", "Json")',
                                              data: function (params) {
                                                  var query = {
                                                      search: params.term,
                                                      page: params.page || 1
                                                  }
                                                  return query;
                                              },
                                              processResults: function (data) {
                                                  return {
                                                      results: data.items
                                                  };
                                              }
                                          }
                                     });

    });

</script>


}